#root {
  height: 100vh;
  width: 100vw;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.smallcaps {
  font-variant: small-caps;
}

#input-area input:disabled {
  background-color: #eee;
  border-color: #999;
  color: #aaa;
  box-shadow: none;
}
